{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}
<style>
    .st{
        border-radius: 19px;
        background: #ffffff;
    }
</style>
<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3 ">
    <div class="col ">
        <div class=" p-5 st" style="margin-left: 35%; height: 95%; width: 60%;">
            <center>
                <h3>Vinay Machha</h3>
            </center>
            <div>
                <hr>
                <h5>Social Media Handles:</h5>
                <a target="_blank" href='mailto:machhavinay2002@gmail.com'></a>Email: machhavinay2002@gmail.com<br>
                <a target="_blank" href='https://github.com/VINAYMACHHA2002'></a>Github: <a href="https://github.com/VINAYMACHHA2002">VINAYMACHHA2002</a><br>
                <a target="_blank" href='https://www.linkedin.com/in/vinay-machha/'></a>Linkedin: <a href="https://www.linkedin.com/in/vinay-machha/">vinay-machha</a><br>
            </div>
        </div>
    </div>

    <div class="col ">
        <div class=" p-5 st" style="height: 95%; width: 60%;">
            <center>
                <h3>Aniket More</h3>
            </center>
            <div>
                <hr>
                <h5>Social Media Handles:</h5>
                <a target="_blank" href='mailto:aniketmore1506@gmail.com'></a>Email: aniketmore1506@gmail.com<br>
                <a target="_blank" href='https://github.com/ANIKET-more1002'></a>Github: <a href="https://github.com/ANIKET-more1002">ANIKET-more1002</a><br>
                <a target="_blank" href='https://www.linkedin.com/in/aniket-more-sknsits'></a>Linkedin: <a href="https://www.linkedin.com/in/aniket-more-sknsits">aniket-more-sknsits</a><br>
            </div>
        </div>
    </div>
    </div>
    <div class="row p-3 ">
    <div class="col ">
        <div class=" p-5 st" style="margin-left: 35%; height: 95%; width: 60%;">
            <center>
                <h3>Vaishnavi Mane</h3>
            </center>
            <div>
                <hr>
                <h5>Social Media Handles:</h5>
                <a target="_blank" href='mailto:manevaishnavi21092000@gmail.com'></a>Email: manevaishnavi21092000@gmail.com<br>
                <a target="_blank" href='https://github.com/vaishnavi-2000-mane/vaishnavi-2000-mane'></a>Github: <a href="https://github.com/vaishnavi-2000-mane/vaishnavi-2000-mane">vaishnavi-2000-mane</a><br>
                <a target="_blank" href='https://www.linkedin.com/in/vaishnavi-mane-12b636214'></a>Linkedin: <a href="https://www.linkedin.com/in/vaishnavi-mane-12b636214">vaishnavi-mane-12b636214</a><br>
            </div>
        </div>
    </div>

    <div class="col ">
        <div class=" p-5 st" style="height: 95%; width: 60%;">
            <center>
                <h3>Shraddha Chaudhari</h3>
            </center>
            <div>
                <hr>
                <h5>Social Media Handles:</h5>
                <a target="_blank" href='mailto:chaudharishraddha21@gmail.com'></a>Email: chaudharishraddha21@gmail.com<br>
                <a target="_blank" href='https://github.com/Shraddha8757'></a>Github: <a href="https://github.com/Shraddha8757">Shraddha8757</a><br>
                <a target="_blank" href='https://www.linkedin.com/in/shraddhachaudhari'></a>Linkedin: <a href="https://www.linkedin.com/in/shraddhachaudhari">shraddhachaudhari</a><br>
            </div>
        </div>
    </div>

</div>

{% endblock body %}